<% include layout_header %>

<div class="chat">
	<div class="chatbox">
		<textarea class="form-control"></textarea>
	</div>
	<div class="online">
		<textarea></textarea>
	</div>
	<div class="talk">
		<div class="input-group">
		   	<input type="text" class="form-control" id="say">
		   	<span class="input-group-btn">
		       	<button class="btn btn-default" type="button">發言</button>
		   	</span>
		</div>		
	</div>
</div>

<% include layout_footer %>
