<% include layout_header %>
<form class="form-horizontal" method="post">
	<fieldset>
	 	<legend> 好友 </legend>
	 	<div class="input-group">
	    	<input type="text" class="form-control">
	    	<span class="input-group-btn">
	        	<button class="btn btn-default" type="button" id="search">Search</button>
	    	</span>
	    </div><!-- /input-group -->
	 	<div class="form-actions">
	 		<button type="submit" class="btn btn-primary">註冊</button>
	 	</div>
 	</fieldset>
 </form>

<% include layout_footer %>

<script>
$('#search').click(function(){	
	$.ajax({
		type: 'POST',
		url:'./searchPeople',
		data: 'tim',
		error: function(){
			alert('Ajax request 發生錯誤');
		},
		success: function(response){
			alert(response);
		},
	});	
});
</script>
