<hr/>
			<footer>
				<p><a href="http://www.byvoid.com/" target="blank">BYVoid</a> 2012</p>
			</footer>
		</div>
	</body>

	<script type="text/javascript" src="/javascripts/jquery.min.js"></sccript>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>
